@import "./includes/includes.scss";

body{
   background-color: $beige-200;
   color: $blue-700 !important;
}
.spacer{
   margin-block:   $section-spacing-small;
}
.wrapper-normal{
   @include wrapper-wide;
}

.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15em;
   .left-wrap{
     .inform-img{
      width: 12em;
      width:  clamp(8em, #{'4rem + 11vw'}, 12em);
      filter: brightness(0) saturate(100%) invert(20%) sepia(88%) saturate(2323%) hue-rotate(222deg) brightness(66%) contrast(126%);
     }
   }
   .right-wrap{
     p{
      @include text-xl;
      font-size: 1.6em;
      font-size: clamp(0.7em, #{'0.93rem + 0.375vw'}, 2.3em);
      color: $black;
     }
   }
}

.btn{
   display: flex;
   a{
      @include text-x;
      // width: 10%;
      padding-block: .4em;
      padding-inline: 1.7em;
      margin-bottom: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .4em;
      text-align: center;
      background-color: $turquoise;
      color: $blue-700;
      cursor: pointer;
      border:none;
      text-decoration: none;
      transition: background-color 0.4s linear, color 0.4s linear, filter 0.4s linear;
      @include display-s;
      .arrow-left-img{
         filter: brightness(0) saturate(100%) invert(20%) sepia(88%) saturate(2323%) hue-rotate(222deg) brightness(66%) contrast(126%);
         width: 1.2em;
         transition: filter 0.4s linear;
      }
   }
   &:hover a{
      background-color: $blue-500;
      color: $white;
      text-decoration: none;
      .arrow-left-img{
          filter: brightness(0) saturate(100%) invert(100%) sepia(32%) saturate(26%) hue-rotate(359deg) brightness(105%) contrast(107%); 
       }
   }
}

.upper-text{
   @include display-l;
   color: $blue-700;
   margin-bottom:3em;
   span{
      color: $blue-500;
   }
   @media(max-width: 767px) {
      text-align: center;
   }
}

#form{
   margin-bottom: 4em;
   margin-bottom: clamp(4em, 15vw, 12em);
}

.checkboxes{
   margin-block: 5em;
   margin-block: clamp(5em, 15vw, 9em);
}

.form-second-page{
   margin-bottom: 5em;
}

.form-control{
   margin-bottom: 2em;
}
label{
   @include label;
   @include text-l;
   font-weight: 500;
}

input{
   color: $blue-700;
   @include input;
   @include display-m;
   background-color: $white;
   border: none;
   outline:0;
   padding-block: .7em;
   padding-inline: 1.5em;
   margin-top: .25em;
}
input:focus{
   outline :4px solid $blue-700;
}

small{
   color: red;
   visibility: hidden;
   display: none;
}

.form-control.succes input{
   border-color: green solid 4px;
}
.form-control.error input{
   outline: red solid 4px;
}

.form-control.error small{
   visibility: visible;
   display: block;
}


.privacy-checkbox small{
   @include display-l;
   width: 100%;
   text-align: center;
}

.privacy-checkbox.error small{
   visibility: visible;
   display: block;
}

::placeholder {
   color: $black;
   opacity: 1; /* Firefox */
 }
 
 ::-ms-input-placeholder { /* Edge 12-18 */
   color: $beige-100;
 }

 .checkbox-second-page{
   flex-wrap: wrap;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5em;
   &:first-child{
      margin-bottom: 1em;
   }

   input[type=checkbox]{
      flex:5%;
      height: 2.3em;
      margin:0 !important;
      width: 2em !important;
      outline: none;
   }

   p{
      flex:85%;
      color: $black;
      @include text-x;
   }
 }

.states-wrap{
   @include wrapper-wide;
   display: flex;
   margin-block: $section-spacing;
   background-color: $beige-100;
}
 .states{
   width: 70%;
   padding-inline: 4em;
   padding-inline:  clamp(2.3rem, #{'5rem + 6vw'}, 4rem);
   padding-block: 3.5em;
   padding-block: clamp(2rem, #{'5rem + 0.17vw'}, 3.5rem);
   color: $white;
   background-color: $blue-500;
   @include display-m;
   font-weight: normal;
   @media(max-width: 767px) {
      width: 100%;
   }

 }



.box{
   margin-bottom: 1.9em;
}

.toggle-box{
   display: flex;
   align-items: center;
   gap: 1em;
   margin-top: 2em;
   .checkbox-label{
      @include display-s;
   }
   .switch {
      position: relative;
      display: inline-block;
      width: 4.2em;
      height: 3.1em;
    }
    
    .switch input { 
      opacity: 0;
         height: 2em;
         position: relative;
         z-index:1000;
    }
}

.results-container{
   margin-block: $section-spacing;
   background-color: $beige-100;
   padding-block: 4em;
   padding-inline: 2em;
   width: 100%;
   display: flex;
   justify-content: center;
   div{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   .result-wrap{
      &:first-child{
         margin-bottom: 3em;
         margin-bottom: clamp(1.2em, 3vw, 3em);
      }
   }
   .region{
      @include text-xl;
      margin-bottom: .5em;
      .bold-result{
         font-weight: 600;
         
      }
   }
   .display-m{
      @include display-m;
   }

}


.button-complete{
   @include display-xs;
   width: 100%;
   background-color: $turquoise;
   color: $blue-700;
   padding-block: 1em;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 2em;
   transition: background-color 0.4s linear, color 0.4s linear;
   border: none;
   @include text-x; 
   &:hover{
      background-color: $blue-500;
      color: $white;
   }
}